<div class="form">
  <%= simple_form_for @user do |form| %>
      <%= form.input :name, label: false, placeholder: 'Name', autofocus: true %>
      <%= form.input :email, label: false, placeholder: 'Email Address' %>
      <%= form.input :password, label: false, placeholder: 'Password' %>
      <%= form.input :password_confirmation, label: false, placeholder: 'Password Confirmation' %>
      <%= form.button :submit, 'Sign up', class: 'radius button [secondary success alert];'  %>
  <% end %>

</div>