<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="plugins/foundation-glyphicons/stylesheets/foundation-glyphicons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Book Tracking" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Book Tracking" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <%= render 'layouts/navigation' %>
      <div>
        <% if current_user %>
            Hello, <%= current_user.name %>.
            <%= link_to "Sign Out", session_path("current"), method: "delete" %>
        <% else %>
            <h4> Welcome!</h4>
        <% end %>
      </div>
    </header>
    <main role="main">
       <%= render 'layouts/notices' %>
    <%= yield %>
    </main>
  </body>
</html>
